<div class="modal fade" id="new-answer-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Comment</h4>
      </div>
      <%= form_for @comment, url: '/comments', html: { class: 'form-horizontal' } do %>
        <div class="modal-body">
          <div class="form-group">
            <label for="comment" class="col-sm-2 control-label">Comment</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="@comment.body"  placeholder="Type something?" required></textarea>
            </div>
          </div>
        </div>
          <input type='hidden' name= 'userComment[id]' value=<%=@game.id%> />
          <input type='hidden' name= 'userComment[name]' value=<%=current_user%> />
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      <% end %>
    </div>
  </div>
</div>